# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
.idea
.vscode
vendor/
coverage.txt
coverage.out
.DS_Store
.env
bin/
logs/
keys/

# database and config
asttax.db
asttax.db-shm
asttax.db-wal